<div class="hero-unit">
  <h1>Welcome to topGft</h1>
  <h2>where people rank his wishes</h2>
	<br>
	<p>Add things you want to receive your next birthday or view for what are asking other people</p>
</div>

<%= render "shared/post_list", posts: @posts, current_category: nil %>