<h1><%= image_tag "gift.png" %>Top Gifts List</h1>

<ul class="posts">
	<% @posts.each do |post| %>
	<li>
		<p class="title"><%= link_to post.title, post.url %></p>
		<p class="bottom"><%= pluralize(post.comments.count, "comment") %></p>
	</li>
	<% end %> <!-- End posts block -->
</ul>