@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */
html {
  overflow-y: scroll;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* posts */
.posts {
  list-style: none;
  margin-top: 10px; 
  margin-bottom: 0; 
  margin-left: 0; 
  margin-right: 0; 
  li {
    overflow: auto;
    padding: 10px 0; 
    border-top: 1px solid $grayLighter;
    &:last-child{ 
      border-bottom: 1px solid $grayLighter;
    }
  }
  .post_left {
    float: left;
    text-align: center;
    width: 50px;
    margin-right: 20px;
  }
  .post_right{

  }
  .post_title {    
    font-size: 1.4em;
    margin-top: 14px;
    margin-bottom: 2px;
  }
  .post_comments {
    font-size: 0.9em;
    line-height: 0.9em;
    margin: 0px;
    a {
      color: $gray;
    }
  }
}

.comments {
  h5 {
    border-bottom: 1px solid $grayLighter;
  }
  
}